body { 
	margin:auto; 
	padding-top:10px; 
	width:80%;
}

body input[type=text], body input[type=email], body input[type=password], body input[type=submit], body input[type=button], body select {
	font-size:16px;
}

body label[class=msg] {
	color:#F00;
	font-weight:bold;
	font-size:20px;
}

* font[class=star] {
	font-size:16px;
	color:#F00;
}

/* Website Logo */
.header_logo {
	width:350px; 
	height:150px;
	margin-left:10px;
}
.header_logo img {
	width:100%;
	height:100%;
}

/* Header Info */
.header_info {
	position:absolute;
	right:10%; 
	top:88px;
	text-align:right;     
}
.header_info a {
	font-size:20px;
	text-decoration:none;
	color:#00C;
}
.header_info input:first-child {
	padding-left:5px;
	margin-top:10px; 
	width:275px; 
	height:25px;
}
.search_button { 
	width:85px; 
	height:32px;
	margin-left:5px;
}

/* Footer */
.footer { 
	text-align:center;
	font-size:17px;
	clear:both;
}

/* Ad Slider */
#ad{ 
	z-index:0;
	width:100%;
	height:540px;
	overflow:hidden;
	position:relative;
	background:#EBEBEB;
}
#ad .box{
	width:93%;
	height:540px;
	box-shadow:0px 0px 5px #ddd;
	margin:0px auto;
	overflow:hidden;
	position:relative;
}
#ad .box img{
	width:100%;
	height:540px;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0;
	filter:alpha(opacity=0);
}
#ad .btnLeft{
	width:35px;
	height:57px;
	position:absolute;
	left:0px;top:45%;
	background:url(../images/ad/left_ar.png) no-repeat 0px 0px;
}
#ad .btnRight{
	width:35px;
	height:57px;
	position:absolute;
	right:0px;top:45%;
	background:url(../images/ad/right_ar.png) no-repeat 0px 0px;
}
#ad .page{
	width:132px;
	height:22px;
	position:absolute;
	bottom:15px;
	right:50px;
}
#ad .page a{
	display:inline-block;
	width:22px;height:22px;
	background:url(../images/ad/num_grey.png) no-repeat 0px 0px;
	margin:0px 2px;
	float:left;
	color:#FFF;
	text-decoration:none;
	text-align:center;
}
#ad .page a.active{
	background:url(../images/ad/num_red.png) no-repeat 0px 0px;
}

/* Discount Product Section */
.discount div {
	width:32%; 
	height:350px
}
.discount img {
	width:100%; 
	height:350px
}
.dis_right {	
	background-color:#90C;
	float:right;
}
.dis_middle {	
	background-color:#00F;
	float:right;
	margin-right:1.98%;
}
.dis_left {	
	background-color:#0FF;
}

/* New Arrivals Section */
.new_arrivals {
	width:100%; 
	height:250px;
	background-color:#FF3;	   
	}
.new_arrivals img {
	padding-top:2%;
	padding-left:1%;
	width:18.5%;
	height:80%;
}

/* Sign In and Sign Up Page */
.sign_in {
	width:320px;
	font-size:20px;
	padding-top:25px;
	margin-left:62%;
	height:457px;
}
.sign_up {
	width:600px;
	font-size:18px;
	margin-left:12%;
	height:460px;	
}
.sign_in table th {
	font-size:24px;
}
.sign_up form {
	font-size:20px;
	margin-left:70px;
}
.sign_in table {
	height:300px;
}
.sign_up table  {
	width:100%;
	height:280px;
}
.sign_up table td {
	width:180px;
}
.sign_in table label, .sign_up table label {	
	font-weight:bold;
}
.sign_in table input {
	width:280px;
	height:23px;
}
.sign_up table input {
	width:300px;
	height:23px;
}
.sign_in > form > input, .sign_up > form div > input {
	margin-top:10px;
	width:85px;
	height:30px;
	margin-bottom:20px;
}
.sign_up > form div {
	text-align:right;
	margin-right:25px;
}

/* Contact Us */
.contact {
	width:470px;
	margin-left:12%;
	padding-bottom:15px;
	font-size:18px;
}
.contact span {
	font-weight:bold;
}

/* Subscribe */
.subscribe {
	width:470px;
	height:445px;
	margin-left:12%;
	padding-bottom:15px;
	font-size:18px;
}
.subscribe form > label {
	font-weight:bold;
}
.subscribe form > input {
	width:265px;
	height:23px;
}
.subscribe_button {
	width:100px; 
	height:30px;
	margin-top:18px;
	margin-left:358px;
}

/* Product */
.product {
	padding-top:5px;
	padding-bottom:5px;
}
.product font {
	padding-left:30px;
	font-size:25px;
	font-weight:bold;
}
.product img {
	width:95%;
	height:220px;
}
.product td div strong a {
	text-decoration:none;
	color:#000;
}
.product td div > span {
	color:#F00;
	font-weight:bold;
}
.product td div + div{
	text-align:center;
}

/* Product Details */
.product_details {
	margin:auto;
	padding-top:20px;
	padding-bottom:20px;
	width:92%;
	font-size:19px;
}
.product_img {
	width:50%;
	height:442px;
}
.product_img img{
	width:100%;
	height:100%;
}
.product_info {
	width:45%;
	float:right;
	margin-right:5px;
}
.product_info h2 {
	color:#F60;
}
span.price1 {
	text-decoration:line-through;
	}
span.price2 {
	font-size:22px;
	color:#F00;
	}
span.price3 {
	color:#F00;
	}
.product_info label {
	font-weight:bold;
}
div.product_info_list {
	margin-left:30px;
}
div.product_info_list ul li {
	margin-top:10px;
}
.product_info form {
	margin-left:20px;
}
.product_info form input[type=text] {
	margin-left:5px;
	width:60px;
	height:23px;
}
.product_info form input[type=submit] {
	margin-left:20px;
	width:110px;
	height:30px;
}
.product_info form select {
	margin-left:20px;
	width:120px;
	height:29px;
}

/* Cart */
.cart {
	margin:auto;
	width:90%;
	padding-top:10px;
	font-size:18px;
	}
.cart_empty {
	height:420px;
	margin-left:12%;
	padding-top:50px;
}
.cart form > table {
	border:solid 1px #C6C6C6;

}
.cart_th {
	background-color:#EBEBEB;
	height:35px;
}
td.cart_td {	
	text-align:center;
	width:130px;
}
td.cart_td input[type=button] {	
	width:80px;
	height:30px;
}
td.cart_quantity input[type=submit]  {	
	width:75px;
	height:30px;
}
td.cart_quantity {
	text-align:center;
}
td.cart_quantity input[type=text] {	
	width:70px;
	height:23px;
}
td.cart_td_img {
	width:200px;
	padding-left:10px;
}
.cart_td_img img {
	padding-left:5px;
	width:182px;
	height:150px;
}
td.cart_td_name {
	width:250px;
	padding-left:5px;
}
.cart_bottom {
	width:255px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:73%;
}
.cart_bottom table {
	padding-bottom:7px;
	font-weight:bold;
}
.cart_bottom table td {
	width:160px;
}
.cart_bottom input {
	height:30px;
}
.cart_bottom input[type=submit] {
	width:85px;
	margin-right:15px;
}
.cart label[class=name] a {
	text-decoration:none;
	color:#00C;
	font-weight:bold;
}

/* Address */
.address {	
	width:750px;
	margin-left:12%;
	padding-bottom:20px;
	font-size:18px;
}
.address table[class=new_address]{
	margin-left:110px;
	width:100%;
	height:410px;
	font-size:19px;
}
.address table[class=old_address]{
	margin-left:60px;
	width:100%;
	font-size:19px;
	border:solid 1px #C6C6C6;
	margin-bottom:20px;
}
.address table[class=old_address] label {
	font-size:22px;
	font-weight:bold;
	color:#F60;
}
.address table[class=old_address] tr td[class=rec_name] {
	text-align:center;
	width:30%;
}
.address table[class=old_address] tr td[class=address] {
	width:40%;
	padding-left:20px;
	padding-top:20px;
}
.address table[class=old_address] input[name=old_address]{
	width:180px;
	height:30px;
	margin-bottom:5px;
}
.address table[class=old_address] input[value=Edit], .address table[class=old_address] input[value=Remove] {
	width:87.5px;
	height:30px;
}
.address table[class=new_address] td {
	width:145px;
	height:30px;
}
.address h3 {
	font-size:22px;
	margin-left:60px;
}
.address input[type=text] {	
	width:350px;
	height:23px;
}
.address table[class=new_address] label {	
	font-weight:bold;
}
.address div {
	padding-top:10px;
	text-align:right;
}
.address div input[type=submit] {
	height:30px;
	width:165px;
	margin-right:23px;
}
.address select {
	width:355px;
	height:29px;
}

/* Payment */
.payment {
	margin-left:12%;
	width:800px;
	height:445px;
	padding-bottom:15px;
	font-size:18px;	
}
.payment > div {
	margin-left:70px;
}
.payment label {
	font-weight:bold;
}
.payment p > img {
	padding-left:65px;
}
.payment table td {
	width:180px;
	height:30px;
}
.payment input[type=text] {	
	width:170px;
	height:23px;
}	
.payment select[name=month] {
	padding-left:8px;
	width:60px;
	height:29px;
}	
.payment select[name=year] {
	padding-left:10px;	
	width:80px;
	height:29px;
}
.payment input[type=submit] {	
	width:120px;
	height:30px;
}	
.payment p > span {
	font-size:22px;
	font-weight:bold;
	color:#F30;
}

/* Confirmation */
.confirmation {
	margin-left:12%;
	width:900px;
	padding-bottom:15px;
	font-size:18px;	
}
.confirmation h2, .confirmation div[class=p] {
	margin-bottom:40px;
}

.confirmation label {
	font-weight:bold;
}
.confirmation table[class=order] {
	border:solid 1px #C6C6C6;
}
.confirmation table[class=order] td {
	width:140px;
}
.confirmation table[class=order] img {
	width:120px;
	height:100px;
}
.confirmation table[class=order] td[class=info] {
	width:360px;
}
.confirmation table[class=price] {
	margin-top:10px;
}
.confirmation table[class=price] td {
	width:130px;
}
.confirmation input[type=submit] {	
	width:90px;
	height:30px;
	margin-top:10px;
}
.confirm_bottom	{
	width:220px;
	padding-top:15px;
	padding-bottom:10px;
	padding-left:60%;
}
.confirm_bottom div {
	text-align:right;
}
.confirmation_result {
	margin-left:12%;
	width:700px;
	height:440px;
	padding-bottom:15px;
	font-size:18px;	
}
.confirmation_result font {
	font-size:30px;	
	font-weight:bold;
	color:#F00;
}
.confirmation_result div[class=info] {
	padding-left:200px;
}

/* Order */
.my_order {
	margin-left:12%;
	width:950px;
	font-size:18px;		
}
.my_order table {
	width:950px;
	border:solid 1px #C6C6C6;
	margin-bottom:20px;
}
.my_order table p {
	line-height:7px;}
.my_order ul {
	padding-left:15px;
	list-style:none;
}
.my_order table td[class=info] {
	border-right:solid 1px #C6C6C6;
	width:320px;
	padding-left:15px;
}
.my_order table td[class=empty_td] {
	border-right:solid 1px #C6C6C6;
}
.my_order table td[class=status] {
	padding-left:15px;
}
.my_order table td[class=shoes_info] {
	border-top:solid 1px #C6C6C6;
	padding-left:20px;
}
.my_order label[class=name] a {
	text-decoration:none;
	color:#00C;
	font-weight:bold;
}
.my_order label[class=date] {
	font-size:22px;
	font-weight:bold;
	}
.my_order label[class=status] {
	font-size:25px;
	color:#F60;
	font-weight:bold;
	}
.my_order span[class=del_date] {
	font-size:20px;
	font-weight:bold;
}
.my_order span[class=total] {
	color:#F00;
	font-weight:bold;
}
.my_order td[class=img] {
	border-top:solid 1px #C6C6C6;
	padding-left:20px;
	width:230px;
}
.my_order td[class=img] img {
	width:220px;
	height:180px;
}
.order_empty {
	height:340px;
	margin-left:12%;
	padding-top:50px;
}
.my_order div[class=order_back] {
	text-align:right;
	margin-bottom:20px;
}
.my_order div[class=order_back] a input[type=button] {
	width:82px;
	height:30px;
}

/* Account */
.account {
	font-size:18px;
	height:482px;
}

/* My Account Navigation */
.account_nav {
	margin-left:5%;
	padding-top:28px;
	width:17.5%;
}
.account_nav table {
	width:100%;
	height:290px;
	font-size:19px;
	border:solid 1px #C6C6C6;
}
.account_nav th {
	background-color:#EBEBEB;
	font-size:20px;
	height:40px;

}
.account_nav table tbody td {
	border-top:solid 1px #C6C6C6;
}
.account_nav a {
	padding-left:15px;
	text-decoration: none;
	color:#000;
}
.account_nav a:hover {
	color:#03F;
	font-weight:bold; 
}

/* Account Information */
.account_info {
	float:right;
	width:67%;
	margin-right:5%;
}
.account_info table {
	font-size:19px;
	margin-left:80px;
	margin-top:30px;
	width:65%;
	height:200px;
}
.account_info table label {
	font-weight:bold;
}
.account_info input[type=button] {	
	width:60px;
	height:30px;
}	

/* Account Info Setting */
.edit_name, .edit_phone, .edit_login, .edit_address {
	float:right;
	width:67%;
	margin-right:5%;
}
div.name_edit {
	font-size:19px;
	margin-left:80px;
	margin-top:40px;
	width:75%;
}
div.name_edit table, div.phone_edit table {
	width:100%;
}
div.name_edit label[class=title1], div.phone_edit label[class=title1], div.login_edit label[class=title1], div.address_edit label[class=title1] {
	font-size:23px;
	color:#F60;
	font-weight:bold;
}
div.name_edit label[class=title2], div.phone_edit label[class=title2] {
	font-size:20px;
	color:#F60;
	font-weight:bold;
}
div.name_edit label[class=title3], div.phone_edit label[class=title3], div.login_edit label, div.address_edit label  {
	font-weight:bold;
}
div.name_edit input[type=text], div.phone_edit input[type=text] {	
	width:200px;
	height:23px;
}
div.name_edit input[type=submit], div.phone_edit input[type=submit], div.login_edit input[type=submit], div.address_edit input[type=submit] {	
	width:120px;
	height:30px;
}
div.name_edit input[type=button], div.phone_edit input[type=button], div.login_edit input[type=button], div.address_edit input[type=button] {	
	width:82px;
	height:30px;
}
div.phone_edit {
	font-size:19px;
	margin-left:80px;
	margin-top:40px;
	width:80%;
}
div.login_edit, div.address_edit {
	font-size:19px;
	margin-left:80px;
	margin-top:30px;
	width:80%;
}
div.login_edit table {
	width:100%;
	height:215px;
}

div.address_edit table[class=new_address] {
	width:100%;
	height:400px;
}
div.login_edit input[type=email], div.login_edit input[type=password] {
	width:280px;	
	height:23px;
}
div.login_edit div {
	margin-top:10px;
	width:82.2%;
	text-align:right;
}
div.address_edit input[type=text] {	
	width:380px;
	height:23px;
}
div.address_edit select {	
	width:385px;
	height:30px;
}
div.address_edit div {
	margin-top:10px;
	text-align:right;
	margin-bottom:20px;
	margin-right:70px;
}
.address_edit table[class=old_address]{
	width:105%;
	height:100px;
	font-size:19px;
	border:solid 1px #C6C6C6;
	margin-bottom:20px;	
}
.address_edit table[class=old_address] label {
	font-size:22px;
	font-weight:bold;
	color:#F60;
}
.address_edit table[class=old_address] tr td[class=rec_name] {
	text-align:center;
	width:30%;
}
.address_edit table[class=old_address] tr td[class=address] {
	width:40%;
	padding-left:20px;
	padding-top:20px;
}
.address_edit table[class=old_address] input[value=Edit], .address_edit table[class=old_address] input[value=Remove] {
	width:87.5px;
	height:30px;
}

