body { 
	margin:auto; 
	padding-top:10px; 
	width:80%;
}

/* Website Logo */
.header_logo { 
	width:250px; 
	height:150px;
}
.header_logo img {
	width:100%;
	height:100%;
}

/* Header Info */
.header_info {
	position:absolute;
	right:10%; 
	top:90px;
	text-align:right;     
}
.header_info input:first-child { 
	width:230px; 
	height:25px;
}
.search_button { 
	width:80px; 
	height:30px;
	margin-left:5px;
	font-size:16px;
}

/* Ad Slider */
#ad{ 
	z-index:0;
	width:100%;
	height:540px;
	overflow:hidden;
	position:relative;
	background:#EBEBEB;
}
#ad .box{
	width:93%;
	height:540px;
	box-shadow:0px 0px 5px #ddd;
	margin:0px auto;
	overflow:hidden;
	position:relative;
}
#ad .box img{
	width:100%;
	height:540px;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0;
	filter:alpha(opacity=0);
}
#ad .btnLeft{
	width:35px;
	height:57px;
	position:absolute;
	left:0px;top:45%;
	background:url(../images/ad/left_ar.png) no-repeat 0px 0px;
}
#ad .btnRight{
	width:35px;
	height:57px;
	position:absolute;
	right:0px;top:45%;
	background:url(../images/ad/right_ar.png) no-repeat 0px 0px;
}
#ad .page{
	width:132px;
	height:22px;
	position:absolute;
	bottom:15px;
	right:50px;
}
#ad .page a{
	display:inline-block;
	width:22px;height:22px;
	background:url(../images/ad/num_grey.png) no-repeat 0px 0px;
	margin:0px 2px;
	float:left;
	color:#FFF;
	text-decoration:none;
	text-align:center;
}
#ad .page a.active{
	background:url(../images/ad/num_red.png) no-repeat 0px 0px;
}

/* Discount Product Section */
.discount div {
	width:32%; 
	height:350px
}
.discount img {
	width:100%; 
	height:350px
}
.dis_right {	
	background-color:#90C;
	float:right;
}
.dis_middle {	
	background-color:#00F;
	float:right;
	margin-right:1.98%;
}
.dis_left {	
	background-color:#0FF;
}

/* New Arrivals Section */
.new_arrivals {
	width:100%; 
	height:250px;
	background-color:#FF3;	   
	}
.new_arrivals img {
	padding-top:2%;
	padding-left:1%;
	width:18.5%;
	height:80%;
}

/* Footer */
.footer { 
	text-align:center;
}

/* Sign In and Sign Up Page */
.sign_in, .sign_up{
	width:320px;
	font-size:20px;
	padding-top:20px;
	margin-left:62%;
	height:460px;
}
.sign_in table {
	height:280px;
}
.sign_up table  {
	height:400px;
}
.sign_in table label, .sign_up table label {	
	font-weight:bold;
}
.sign_in table input, .sign_up table input {
	width:280px;
	height:25px;
}
.sign_in > form >input, .sign_up > form > input {
	margin-top:10px;
	width:100px;
	height:28px;
	font-size:16px;
}

/* Contact Us */
.contact {
	width:470px;
	margin-left:12%;
	padding-bottom:15px;
	font-size:18px;
}
.contact span {
	font-weight:bold;
}

/* Subscribe */
.subscribe {
	width:470px;
	height:445px;
	margin-left:12%;
	padding-bottom:15px;
	font-size:18px;
}
.subscribe form > label {
	font-weight:bold;
}
.subscribe form > input {
	width:265px;
	height:23px;
}
.subscribe_button {
	width:100px; 
	height:30px;
	margin-top:18px;
	margin-left:350px;
	font-size:16px;
}

/* Product */
.product {
	padding-top:5px;
	padding-bottom:5px;
}
.product font {
	padding-left:30px;
	font-size:25px;
	font-weight:bold;
}
.product img {
	width:100%;
	height:250px;
}

/* Product Details */
.product_details {
	margin:auto;
	padding-top:20px;
	padding-bottom:20px;
	width:1100px;
	background-color:#CCC;
}
.product_img {
	width:500px;
	height:480px;
	background-color:#FF0;
}
.product_img img{
	width:100%;
	height:100%;
}
.product_info {
	background-color:#0F6;
	width:550px;
	float:right;
}

/* Cart */
.cart {
	margin:auto;
	width:90%;
	padding-top:10px;
	font-size:18px;
	}
.cart_empty {
	height:420px;
	margin-left:12%;
	padding-top:50px;
}
.cart form > table {
	border:solid 1px #C6C6C6;

}
.cart_th {
	background-color:#EBEBEB;
	height:35px;
}
.cart_td {	
	text-align:center;
	width:180px;
}
.cart_td input[type=button], .cart_td input[type=submit] {	
	width:80px;
	height:30px;
	font-size:16px;
}
.cart_td input[type=text] {	
	width:80px;
	height:20px;
	font-size:16px;
}
.cart_td_img {
	width:180px;
}
.cart_td_img img {
	width:170px;
	height:150px;
}
.cart_bottom {
	width:255px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:73%;
}
.cart_bottom table {
	padding-bottom:7px;
	font-weight:bold;
}
.cart_bottom table td {
	width:160px;
}
.cart_bottom input {
	height:30px;
	font-size:16px;
}
.cart_bottom input[type=submit] {
	width:85px;
	margin-left:15px;
	font-size:16px;
}

/* Address */
.address {	
	width:500px;
	margin-left:12%;
	padding-bottom:15px;
	font-size:18px;
}
.address table{
	width:100%;
	height:350px;}
.address td {
	width:350px;
}
.address input[type=text] {	
	width:350px;
	height:23px;
}
.address table label {	
	font-weight:bold;
}
.address div {
	padding-top:10px;
	text-align:right;
}
.address div input[type=submit] {
	height:30px;
	width:165px;
	font-size:16px;
}
.address select {
	width:355px;
	height:30px;
}

/* Payment */
.payment {
	margin-left:12%;
	width:750px;
	height:445px;
	padding-bottom:15px;
	font-size:18px;	
}
.payment label {
	font-weight:bold;
}
.payment p > img {
	padding-left:65px;
}
.payment table td {
	width:180px;
	height:30px;
}
.payment input[type=text] {	
	width:170px;
	height:23px;
}	
.payment select[name=month] {
	padding-left:8px;
	width:60px;
	height:29px;
}	
.payment select[name=year] {
	padding-left:10px;	
	width:80px;
	height:29px;
}
.payment input[type=submit] {	
	width:120px;
	height:30px;
	font-size:16px;
}	
.payment p > span {
	font-size:22px;
	font-weight:bold;
}

/* Confirmation */
.confirmation {
	margin-left:12%;
	width:900px;
	padding-bottom:15px;
	font-size:18px;	
}
.confirmation h2, .confirmation div[class=p] {
	margin-bottom:40px;
}

.confirmation label {
	font-weight:bold;
}
.confirmation table[class=order] {
	border:solid 1px #C6C6C6;
}
.confirmation table[class=order] td {
	width:140px;
}
.confirmation table[class=order] img {
	width:120px;
	height:100px;
}
.confirmation table[class=order] td[class=info] {
	width:360px;
}
.confirmation table[class=price] {
	margin-top:10px;
}
.confirmation table[class=price] td {
	width:130px;
}
.confirmation input[type=submit] {	
	width:90px;
	height:30px;
	font-size:16px;
	margin-top:10px;
}
.confirm_bottom	{
	width:220px;
	padding-top:15px;
	padding-bottom:10px;
	padding-left:60%;
}
.confirm_bottom div {
	text-align:right;
}
.confirmation_result {
	margin-left:12%;
	width:700px;
	height:440px;
	padding-bottom:15px;
	font-size:18px;	
}
.confirmation_result font {
	font-size:30px;	
	font-weight:bold;
	color:#F00;
}
.confirmation_result div[class=info] {
	padding-left:200px;
}

/* Order */
.my_order {
	margin-left:12%;
	width:950px;
	font-size:18px;		
}
.my_order table {
	width:950px;
	border:solid 1px #C6C6C6;
	margin-bottom:20px;
}
.my_order table p {
	line-height:7px;}
.my_order ul {
	padding-left:15px;
	list-style:none;
}
.my_order table td[class=info] {
	border-right:solid 1px #C6C6C6;
	width:320px;
	padding-left:15px;
}
.my_order table td[class=empty_td] {
	border-right:solid 1px #C6C6C6;
}
.my_order table td[class=status] {
	padding-left:15px;
}
.my_order table td[class=shoes_info] {
	border-top:solid 1px #C6C6C6;
}

.my_order label[class=date] {
	font-size:22px;
	font-weight:bold;
	}
.my_order label[class=status] {
	font-size:25px;
	color:#F60;
	font-weight:bold;
	}
.my_order span[class=del_date] {
	font-size:20px;
	font-weight:bold;
}
.my_order span[class=total] {
	color:#F00;
	font-weight:bold;
}
.my_order td[class=img] {
	border-top:solid 1px #C6C6C6;
	padding-left:15px;
	width:230px;
}
.my_order td[class=img] img {
	width:210px;
	height:180px;
}
.order_empty {
	height:340px;
	margin-left:12%;
	padding-top:50px;
}

/* Account */
.account {
	font-size:18px;
	height:485px;
}

/* My Account Navigation */
.account_nav {
	margin-left:5%;
	padding-top:28px;
	width:17.5%;
}
.account_nav table {
	width:100%;
	height:290px;
	font-size:19px;
	border:solid 1px #C6C6C6;
}
.account_nav th {
	background-color:#EBEBEB;
	font-size:20px;
	height:40px;

}
.account_nav table tbody td {
	border-top:solid 1px #C6C6C6;
}
.account_nav a {
	padding-left:15px;
	text-decoration: none;
	color:#000;
}
.account_nav a:hover {
	color:#03F;
	font-weight:bold; 
}

/* Account Information */
.account_info {
	float:right;
	width:67%;
	margin-right:5%;
}
.account_info table {
	font-size:19px;
	margin-left:80px;
	margin-top:30px;
	width:65%;
	height:200px;
}
.account_info table label {
	font-weight:bold;
}
.account_info input[type=button] {	
	width:60px;
	height:30px;
	font-size:16px;
}	